<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.mapper.PrivateStudyMapper">
    <insert id="insertNode">
        set @next_node_id := (
            select IFNULL(max(node_id)+1 , 1)
            from tb_p_node
            where node_id=#{nodeId}
        );

        insert into tb_p_node
        (node_id, subject, description, content, parent_id)
        values (@next_node_id,#{subject},#{description}, #{content}, #{parentId})
    </insert>

    <update id="updateNode">
        update tb_p_node
        set subject=#{subject},
            content=#{content},
            description=#{description},
            last_modified_dt=current_timestamp
        where node_id=#{nodeId}
    </update>

    <update id="updateParentNode">
        update tb_p_node
        set parent_id=#{parentId},
            last_modified_dt=current_timestamp
        where node_id=#{nodeId}
    </update>

    <select id="deleteNode">
        with tmp as (
            select node_id
            from tb_p_node
            where parent_id=#{nodeId}
        )

        delete from tb_p_node
        where node_id=#{nodeId};

        select tmp;
    </select>

    <select id="getNodeDetail">
        select *
        from tb_p_node
        where node_id=#{nodeId}
    </select>

    <select id="getChildrenNodes">
        select node_id,
               subject,
               description,
               last_modified_dt
        from tb_p_node
        where parent_id=#{parentId}
    </select>

    <select id="containChildren">
        select count(*) > 0
        from tb_p_node
        where parent_id=#{nodeId}
    </select>
</mapper>